.servicesContainer{
    background-color: var(--_colors-plates---primary);
    color: white;
    margin-top: 50px;
    padding-top: 110px;
    padding-bottom: 110px;
}


.servicesContainerSubtitle{
    grid-column-gap: 4px;
    background-color: rgba(71, 71, 71, 0.315);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding: 4px 6px;
    display: flex;
    width: fit-content;
    margin: 0 auto;
    
   
}


.servicesContainerSubtitle p{
    font-size: var(--_typography---paragraphs--sm-body);
    line-height: var(--_fonts---line-height--100);
    font-weight: var(--_fonts---font-weight--medium);
    margin: 0;
}


.servicesContainerTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;

    justify-content: center;
    margin: 0 auto;
}

.servicesContainerTitle h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.servicesContainerTitle p{
    font-size: var(--_p_font-size);
    line-height: var(--_p_line-height);
    color: white;
    margin-bottom: 50px;
    font-weight: var(--_p_font-weight);
    width: 35%;
}

.services{
    width: 70%;
    margin: 0 auto;
    justify-content: center;
   
}